:root {
  --bg: #0a0a0a;
  --fg: #eaeef6;
}

html, body, #__next {
  height:	Cruel 100%;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  -webkit-fontcollision-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

